body {
  font: 12px 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  margin: 0.7em 2em 0 2em;
}

.form-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  align-items: center;
  margin: -2em 0;
}

.form-container > * {
  margin: 2em 0;
  text-align: center;
}

.main-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 75vh;
}

.main-container > * {
  word-wrap: break-word;
}

.message-title {
  font-size: 16px;
}

.message-date {
  font-size: 12px;
  color: #9E9E9E;
}

.message-content {
  font-size: 14px;
  color: #9E9E9E;
}

.message-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  flex: 4;
}

.user-list {
  flex: 1;
  margin-left: 2.5em;
}

.channel-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  flex: 1;
}

.channel-list-header, .user-list-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 0.5em;
}

.channel-list-title, .user-list-title {
  margin-right: 0.3em;
}

.channel-list-joined-subheader {
  font-size: 14px;
  font-weight: bold;
}

.toolbar-user-logged-in-name {
  margin-right: 1.5em;
  font-size: 14px;
}

.invitation-accept-button {
  text-align: right;
}

.add-message-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  margin-top: 1em;
}

.add-message-form > * {
  margin: 0 0.3em;
}

.channel-list-title, .message-list-title, .user-list-title, .register-title, .login-title {
  font-size: 20px;
}

.channel-page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  flex: 4;
  justify-content: space-between;
  margin-left: 2.5em;
}

.message-list-channel-name {
  font-size: 16px;
  margin-left: 0.7em;
  color: #9E9E9E;
}

.header {
  margin-bottom: 1em;
}
